.earning-header {
  height: 3px;
  max-width: 90px;
  border-radius: 6px;
  margin: auto;
  background-color: var(--sec-color);
}


/* Fund Wallet Styles */
.wallets-container {
  display: flex;
  justify-content: space-around;
}

.fund-wallet-header { 
  display: flex;
  justify-content: space-between;
}

.pay-now-btn{
  width: 163px;
  height: 39px;
  color: white;
  background: #FF7900;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: -12px;
}

.fund-wallet-container { 
  margin: 2rem 4rem 1rem;
}

.wallet-balance-box{
  border: 2px solid #CFCFCF;
  background: #fff;
  width: 435px;
  height: 350px;
  border-radius: 10px;
}

.fund-wallet-box {
  border: 2px solid #CFCFCF;
  background: #fff;
  width: 617px;
  height: 350px;
  border-radius: 10px;
}

.fund-wallet-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.fund-wallet-img-div {
  display: flex;
}

.fund-wallet-text-div { 
  margin-left: .5rem; 
}

.fund-wallet-text-text { 
  margin-bottom: -.2rem; 
}

/* End of Fund Wallet Styles */



/* Transaction Table Styles */
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  
}

table th,
table td {
  padding: .625em;
  text-align: center;
  margin-top: 10px;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.status {
  font-weight: bold;
  font-size: 0.75rem;
  color: white;
  border-radius: 12px;
  padding: 3px 10px;
  display: inline-block;
  margin-left: 3rem;
  margin-top: .5rem;
}

/* End of Transaction Table Styles */

@media screen and (max-width: 600px) {
  .wallets-container{
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 2rem 2rem 0rem;
  }

  .wallet-balance-box{
    width: 420px;
  }

  .fund-wallet-header{
    margin-top: 2.5rem;
  }

  .fund-wallet-box {
    width: 420px;
    height: 580px;
  }

  

  .fund-wallet-img-div{
    display:block;
    text-align: center;
  }


  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 12px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}